* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.navbar {
  width: 100px;
  background: #3498DB;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  border-radius: 0px;
  border-right: 1px #2980b9 solid;
  -webkit-box-shadow: 1px 0 5px -2px #888;
  box-shadow: 1px 0 5px -2px #888;
}

.l-content {
  width: calc(100vw - 100px);
  height: 100vh;
  margin-left: 100px;
  padding-top: 15px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  text-align: center;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px #48A3DF solid;
  padding: 14px 0;
}

ul li.logo{
  width: 100%;
  padding: 14px 0;
  text-align: center;
  border-bottom: 1px #48A3DF solid;
}

.avatar{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.glyphicon {
  width: 100%;
  font-size: 20px;
}

.img-circle{
  border: 2px solid #2980b9;
}

.badge {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #2980b9;
  text-transform: uppercase;
  font-weight: bold;
}

.col-xs-6 {
  padding: 0;
}

.panel-heading {
  padding: 5px;

}

.panel-body {
  padding: 10px;
  border-radius: 0px;
}

.panel-item:nth-child(2n) {
  padding-right: 10px;
}

.panel-item:nth-child(2n - 1) {
  padding-left: 10px;
}
