body{
  margin: 0;
  padding: 0;
}
header{
  height: 60px;
  background-color: #3498DB;
  border-bottom: 1px #2980b9 solid;
}
footer{
  height: 60px;
  background-color: #3498DB;
  border-top: 1px #2980b9 solid;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li{
  float: left;
  height: 55px;
  width: 20%;
  text-align: center;
  color: #fff;
  line-height: 30px;
}
span{
  width: 100%;
}
.glyphicon {
    font-size: 25px;
}