<div class="mdl-card mdl-shadow--2dp mdl-center-card-top">
  <div class="mdl-card__title mdl-card--expand">
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="school" disabled="true" value="Corlear" />
        <label class="mdl-textfield__label" for="school">School</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="username" />
        <label class="mdl-textfield__label" for="username">Gebruikersnaam</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="password" />
        <label class="mdl-textfield__label" for="password">Wachtwoord</label>
      </div>
    </form>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Login</a>
  </div>
</div>