<div class="mdl-card mdl-shadow--2dp mdl-center-card-top">
  <div class="mdl-card__title mdl-card--expand">
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="searchschool" />
        <label class="mdl-textfield__label" for="searchschool">Zoek je school</label>
      </div>
      <div class="mdl-card--border">
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-card--block" for="option-0">
          <input type="radio" id="option-0" class="mdl-radio__button" name="school" value="Farel" />
          <span class="mdl-radio__label">Farel</span>
        </label>
         <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-card--block" for="option-1">
          <input type="radio" id="option-1" class="mdl-radio__button" name="school" value="Corlear" />
          <span class="mdl-radio__label">Corlear</span>
        </label>
         <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-card--block" for="option-2">
          <input type="radio" id="option-2" class="mdl-radio__button" name="school" value="Hoogeland" />
          <span class="mdl-radio__label">Hoogeland</span>
        </label>
      </div>
    </form>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Bevestig</a>
  </div>
</div>
